.pizza-btn,
.burger-btn,
.kebab-btn {
  border: none;
  color: #878787;
  background-color: none;
  border-radius: 1px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.pizza-btn:hover,
.burger-btn:hover,
.kebab-btn:hover {
  color: #ffffff;
  background-color: #a0ce54 !important;
}

.pizza-btn > input,
.burger-btn > input,
.kebab-btn > input {
  display: none;
}

.pizza-btn.active,
.burger-btn.active,
.kebab-btn.active {
  border: none;
  color: #ffffff;
  background-color: #a0ce54 !important;
  border-radius: 1px;
}

/* PIZZA MENU */

// ------
// ------
// ------
// ------

.pizza-menu-enter {
  opacity: 0;
  background-color: none;
  position: static;
}

.pizza-menu-enter-active {
  opacity: 1;
  background-color: red;

  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}

.pizza-menu-exit {
  opacity: 1;
  transform: translateX(0);
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.pizza-menu-exit-active {
  opacity: 0;
  transform: translateX(-110%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.pizza-menu-enter-done {
  background-color: blue;
}

/* BURGER MENU */

// ------
// ------
// ------
// ------

.burger-menu-enter {
  opacity: 0;
  background-color: none;
  position: static;
}

.burger-menu-enter-active {
  opacity: 1;
  background-color: red;

  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}

.burger-menu-exit {
  opacity: 1;
  transform: translateX(0);
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.burger-menu-exit-active {
  opacity: 0;
  transform: translateX(-110%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.burger-menu-enter-done {
  background-color: blue;
}

/* KEBAB MENU */

// ------
// ------
// ------
// ------

.kebab-menu-enter {
  opacity: 0;
  background-color: none;
  position: static;
}

.kebab-menu-enter-active {
  opacity: 1;
  background-color: red;

  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
}

.kebab-menu-exit {
  opacity: 1;
  transform: translateX(0);
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.kebab-menu-exit-active {
  opacity: 0;
  transform: translateX(-110%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.kebab-menu-enter-done {
  background-color: blue;
}
