.one-block-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #a0ce54;
  background-color: #a0ce54;
  transition: background-color 150ms ease-in-out;
}

.one-block-btn-container:hover {
  background-color: transparent;
  transition: background-color 150ms ease-in-out;
}

.one-block-btn {
  border: 0;
  outline: none;
  padding: 10px;
  margin: 2px;
  background-color: #a0ce54;
  color: white;
  transition: background-color 150ms ease-in-out;
}

.one-block-btn:active {
  background-color: #89b640;
  transition: background-color 150ms ease-in-out;
}

.one-block-btn:focus {
  outline: none;
}
