.pizza-btn,
.burger-btn,
.kebap-btn {
  border: none;
  color: #878787;
  background-color: none;
  border-radius: 1px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;

  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.pizza-btn:hover,
.burger-btn:hover,
.kebap-btn:hover {
  color: #ffffff;
  background-color: #a0ce54 !important;
}

.pizza-btn > input,
.burger-btn > input,
.kebap-btn > input {
  display: none;
}

.pizza-btn.active,
.burger-btn.active,
.kebap-btn.active {
  border: none;
  color: #ffffff;
  background-color: #a0ce54 !important;
  border-radius: 1px;
}
